<!-- <div class="home"> -->
<!-- <div class="row">
  <form id="create-event">
    <h4>Create a todo for the brides events:</h4>
    <div class="input-group">
      <label for="title">Todo Description:</label>
      <input type="text" class="form-control" name="event[title]" value="" placeholder="">
      <input type="hidden" class="form-control" name="event[user_id]" value="1">
      <input type="hidden" class="form-control" name="event[event_id]" value="1">
    </div>
    <input type="submit" name="submit" class="btn btn-info" value="enter">
  </form>
</div> -->
