<div class="home">
  <div class="jumbotron">

        <div class="container">

          <div id="errorMessage"></div>
          <div id="yayMessage"></div>
          <div id="changePasswordMessage"></div>
          <div id="begin"></div>




          <h3>Planning site for the wedding party!</h3>

          <div class="row">
            <div class="col-md-9 push-md-3 offset-md-3">  <form id="registration" class="form-signin">
            <p>Register</p>

            <div class="input-group">
                <label for="password"> Email </label>
              <input type="text" class="form-control" name="credentials[email]" placeholder="Email" aria-label="Username" aria-describedby="sizing-addon2">
            </div>
            <div class="input-group">
            <label for="password"> Password </label>
            <input type="password" class="form-control" name="credentials[password]" placeholder="Password">
            </div>
            <div class="input-group">
            <label for="password-confirm"> Password </label>
            <input type="password" class="form-control" name="credentials[password_confirmation]" placeholder="Confirm Password">
            </div>
            <input type="submit" class="btn btn-info" name="submit" value="Register">


          </form>
        </div>

            <div class="col-md-3 pull-md-9"><form id="login" class="form-signin">
              <p> Login</p>
              <div class="input-group">
                <label for="username"> Username </label>
                <input type="text" class="form-control" name="credentials[email]" placeholder="Email">
              </div>
              <div class="input-group">
                <label for="password"> Password </label>
                <input type="password" class="form-control" name="credentials[password]" placeholder="Password">
              </div>
              <input type="submit" name="submit" class="btn btn-info" value="Log In">
            </form>
</div>
          </div>

</div>
