          <div class="list">

          <form class="events" id='eventsShow'>
            <br>
            <p>Your Bridesmaid to do list:</p>

            <p>  <button type="Submit" class="btn btn-info">View list >></button>
              <div id="showChanges"></div></p>

            </form>

            <div id="message"></div>


          </div>
