<div class="user-info">
{{id}}
<br>
{{email}}
{{#events}}
{{title}}
{{/events}}

<h2>Welcome!</h2>{{name}}



<button type="Submit" id='eventsShow' class="btn btn-info">View list >></button>

  </div>
