<!-- <div class="home"> -->
  <div class="jumbotron">

        <div class="container">

          <div id="errorMessage"></div>
          <div id="yayMessage"></div>
          <div id="changePasswordMessage"></div>
          <div id="begin"></div>




          <h3>Planning site for the wedding party!</h3>


<div class="row">

  <br>

<button class="btn btn-info" id="log-out"> Log Out </button>           <button type="Submit" id="createEventButton" class="btn btn-info ">Create a todo</button> <button type="Submit" id="showChangePassButton" class="btn btn-info ">Change Password</button>

<h2>Welcome!</h2>

</div>
