$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.h3 {
  font-size: 40px;
  color: red;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #f4f2ea;
}

.delete {
  background-image: image();
  content: "delete";
}

.navbar-default {
    background-color: #ffffff;
    border-color: #f4f2ea;
}

.navbar {
    position: relative;
    min-height: 100px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333333;
    background-color: #ffffff;
  }

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    background-image:image('http://www.motifmediadesigns.com/wp-content/uploads/2017/08/AdobeStock_88132482.jpeg');
}

.h3 {
font-family: inherit;
font-weight: 500;
line-height: 1.1;
color: #ff7373;
}
